 <div class="login-all">
    <div class="top">
        <div>
	        <img src="../images/loading-pic.png">
	        北斗平台管理系统
        </div>
    </div>
    <div class="main" ng-controller="loginController">
        <div class="login-box">
            <div class="box-left"></div>
            <div class="box-main">
            		<div>系统登录</div>
                <form class="login">
	                 <div class="input-group">
	                     <div class="input-group-addon"><span class="shareicon-Login-name"></span></div>
	                     <input type="text" class="input-name form-control" placeholder="登录名" ng-model="loginData.name" ng-keypress="clickLogin($event)">
	                 </div>
	                  <div class="input-group">
	                     <div class="input-group-addon"><span class="shareicon-Password"></span></div>
	                     <input type="password" placeholder="密码" class="input-name form-control" ng-model="loginData.password" ng-keypress="clickLogin($event)">
	                  </div>
                  <!--  <div class="login-btn"><img src="../images/login.png"></div>-->
                    <div class="login-btn"><button type="button" class="btn btn-primary" ng-click="login()">登录</button></div>
                    
                    <p ng-show="visible">用户名或密码错误</p>
                </form>
            </div>
        </div>
    </div>
    <!--底部
    <div class="index-page-bottom">
        <div ng-include=" '/modules/login/html/footer.html' "></div>
    </div>-->
 </div>