<div class="demo">
<H1>附件上传</H1>

<div class="file-upload-demo">
    <div file-upload class="upload1" ng-model='testFileUploadModel' file-upload-mode = "single" file-upload-prefix = "test"  >
    </div>
    <div  class="comment">
        不登录上传，需要配置属性：file-upload-public="true"<br>
        上传多个文件，需要配置属性：file-upload-mode = "multi"
    </div>
    <div file-upload class="upload2" ng-model='testFileUploadModel2' file-upload-mode = "multi" file-upload-prefix = "test" file-upload-public="true" >
    </div>

</div>
</div>
