<div class="modal-header">
    <h3 class="modal-title" id="modal-title">绑定设备</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-inline form-group">
  			<label class="col-sm-4">车牌号:</label>
  			<div class="col-sm-8">
  				{{vechile.plateNo}}
  			</div>
  			<label class="col-sm-4">关联设备：</label>
  			<div class="col-sm-8">
  				<input type="text" typeahead-append-to-body="true"
				 		uib-typeahead="mm as mm.terminalId for mm in searchDevice($viewValue)"  class="form-control" ng-model="device"/>
  			</div>
  	</div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="ok()">确认</button>
</div>